<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-check-notify" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>checkNotify</name>
    <js-module name="checkNotify" src="www/checkNotify.js">
        <clobbers target="cordova.plugins.checkNotify" />
    </js-module>
</plugin>
